/*........................................................... General */

@font-face {
    font-family: "Kalligraphia";
    src: url("/fonts/Kalligraphia-D-OT_25803.ttf");
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;


}

a {
    color: white;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a:hover {
    color: white;
}

/*............................................................  Logo */

.img-responsive {
    margin: 0 auto;
    padding-top: 15px;

}

/*............................................................  Containers */

.social-container {
    background-color: white;
   
    
}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;
    background: url('../images/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.video-container {
     background-image:url("/images/video-header.png");
    background-repeat: no-repeat;
    background-size: cover;
 

    
  
    
}
/*............................................................  Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 20px;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 60px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.navbar-header #mobile-nav a {
    font-family: "Kalligraphia", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 35px;

}

.navbar a {
    font-family: "Kalligraphia", sans-serif;
}

.navbar-brand {
    font-size: 25px;
    padding-top: 18px;

}

/*............................................................  Jumbotron */

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;

}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.lead.music-service {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #a7a7a7;


}


.lead.music-service:hover {
    color: white;
    text-decoration: underline;
}

.lead.music-text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin: 25px 0;
    font-weight: normal;

}


/*............................................................  Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}


.block-divider--white {
    background-color: white;
}
.block-divider--black {
    background-color: black;
}

.block-divider--short {
    width: 35px;
}

/*............................................................  Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* ............................................................ Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.band .page-header {
    margin-bottom: 25px;
}

.music .page-header {
    margin-bottom: 25px;
}

.video .page-header {
    margin-bottom: 25px;
}

.page-header .video-title {
    color: white;
}

.gigs .page-header {
    margin-bottom: 25px;
}

.page-header .gigs-title {
    color: white;
}


/*......................................................... Media Queries */

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-nav>li {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-family: "Kalligraphia", sans-serif;
        font-size: 40px;
        color: white;
    }

    .navbar {
        background-color: transparent;


    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        transition: text-decoration 0.5s ease-in-out;
        font-size: 35px;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:active {
        text-decoration: underline;
    }
    .lead.music-text {
        font-style: italic;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: white;
        margin: 25px 0;

    }
    .music-text.music-bottom {
        padding-bottom: 25px;
        font-size: 20px;

    }
    .img-responsive {
        padding-top: 90px;

    }





}

/*............................................................  Music */

.audio-player.lead {
    text-align: center;
}

.audio-section.media {
    margin: 0 auto;

}



/*............................................................ Video */

.text-title {
    font-family: "Kalligraphia", sans-serif;
}



.video-text {
    color: white;
}

video {
    width: 100%;
    height: auto !important;
}

/*............................................................  Gigs */

.gigs-section.media {
    margin: 0 auto;

}

.gigs-container {
    background-image: url("/images/live.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    position: relative;
    background-position: center;

}

.gigs-text {
    color: white;
}

body table {

    color: white;
}

table {
    border-collapse: collapse;
    border: none;

}

td {
    position: relative;
    padding: 5px 10px;

}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid white;
    width: 150%; /* joins strike-through bar sections together */
}

.dead-link {
    color: white;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

}

/*............................................................ Social*/


.social-title {
    color: black;
    font-weight: 300;

}

.lead.social-text {
    font-family: "Kalligraphia", sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: underline;

}

.social-list{
    font-size: 45px;
    font-weight: 400;
    margin: 0px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-list li {
  display: inline-block;
  margin: 0 10px;

}

.fa {
    color:black;
}
#signup.contact-form{
    display: block;
    font-size: 14px;
    margin-top:0em;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding-top: 25px;
}

#back {
    color:black;
    text-decoration: underline;
    
}
/*............................................................ Band */

blockquote.quote {
    border-left: 0;
}

.media-body{
    padding-bottom: 25px;
    
} 

.media-body p{
    font-size: 14px;
}