@font-face {
    font-family: "Kalligraphia";
    src: url("/fonts/Kalligraphia-D-OT_25803.ttf");
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Kalligraphia", sans-serif;
    font-weight: normal;
}

/* Logo */

.img-responsive {
    margin: 0 auto;
    padding-top: 15px;

}

/* Containers */

.container-wrapper {}

.container-wrapper--red {
    background-color: #f05f40;
    color: white;
}

.callout-container {
    height: 100vh;

    background: url('../images/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 20px;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 60px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.navbar-header #mobile-nav a {
    font-family: "Kalligraphia", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 35px;

}

.navbar-brand {
    font-size: 25px;
    padding-top: 18px;

}

/* Jumbotron */

.jumbotron {
    background-color: transparent;

}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.lead.music-service {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    color: #a7a7a7;


}

.lead.music-service:hover {
    color: white;
    text-decoration: underline;
}

.lead.music-text {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    margin: 25px 0;
    font-weight: normal;

}

.lead.social-text {
    font-style: italic;
    font-family: "Kalligraphia", sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: underline;

}

.social-icon {
    font-size: 35px;
    color: #a7a7a7;
    padding-left: 20px;
    padding-right: 20px;
}

.social-icon:hover {
    color: white;
    text-decoration: underline;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}




/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote.quote {
    border-left: 0;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-nav>li {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        font-family: "Kalligraphia", sans-serif;
        font-size: 40px;
        color: white;
    }

    .navbar {
        background-color: transparent;


    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        transition: text-decoration 0.5s ease-in-out;
        font-size: 35px;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:active {
        text-decoration: underline;
    }
    .lead.music-text {
        font-style: italic;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        color: white;
        margin: 25px 0;
        font-weight: normal;

    }
    .music-bottom {
        padding-bottom: 25px;

    }
    
}
/* Music */

.audio-player.lead {
    text-align: center;
}
.audio-section.media{
    margin: 0 auto;
 
}

.music .page-header {
    margin-bottom: 25px;
}

